.App {
  font-family: "Nunito", sans-serif;
}
body {
  background-image: linear-gradient(to right, #cc66ff, #99ccff);
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-size: 40px;
}
input {
  padding: 0.7em;
  width: 40%;
  outline: none;
}
button {
  padding: 0.6em 2em;
  margin-left: 0.5em;
  outline: none;
}
.foodList {
  list-style: none;
  text-align: left;
}
.foodPill {
  padding: 0.4em;
}
